spColumn.exe/StructurePoint/CoreAssets/Storage/File/Input/_XML_Schemes/Manifest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://structurepoint.org/spSPL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Name"/>
        <xs:element name="EncryptionMethod">
          <xs:simpleType>
            <xs:restriction base = "xs:string">
              <xs:enumeration value = "None"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element type="xs:string" name="ApplicationVersion"/>
        <xs:element type="xs:dateTime" name="CreationTime"/>
        <xs:element type="xs:dateTime" name="ModificationTime"/>
        <xs:element name="Entries">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Entry" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Version"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Type"/>
    </xs:complexType>
  </xs:element>
</xs:schema>