spColumn.exe/StructurePoint/CoreAssets/Storage/File/Settings/_XML_Schemes/SettingsXmlSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:element name="Settings">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Setting" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element type="xs:string" name="Value"/>
							</xs:sequence>
							<xs:attribute type="xs:string" name="Key"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:schema>
